<link href="/css/meuestilo.css" rel="stylesheet" type="text/css" />
<div id="top">Gerador de XML-OJS</div>
<p><form enctype="multipart/form-data" method="post" name="inputform"><br><h4>Edição</h4>
Título: <input type="text" name="title"><br>
Volume: <input type="text" name="volume"><br>
Número: <input type="text" name="number"><br>
Ano: <input type="text" name="year"><br><hr><h4>Seção</h4>
Título: <input type="text" name="tit_section"><br>
Abreviação: <input type="text" name="abbrev"><br><hr><h4>Artigo</h4>
Título: <input type="text" name="tit_art"><br>
Resumo: <input type="text" name="abstract"><br>
Número de páginas: <input type="text" name="pages"><br>
Data de Publicação: <input type="text" name="data_published"><br><hr><h4>Autor</h4>
Primeiro nome: <input type="text" name="firstname"><br>
Nome do meio: <input type="text" name="middlename"><br>
Último nome: <input type="text" name="lastname"><br>
Email: <input type="text" name="email"><br>
Titulo do Arquivo: <input type="text" name="filename"><br>
Url do arquivo: <input type="text" name="filepath"><br><br>
<input type="submit" value="Gerar XML">
</p>

