<link href="/css/meuestilo.css" rel="stylesheet" type="text/css" />
<div id="top">Gerador de XML-OJS</div>
<p><form method="post" name="inputform"><br><h4>Edição</h4>
Título: <input type="text" name="titulo"><br>
Volume: <input type="text" name="volume"><br>
Número: <input type="text" name="numero"><br>
Ano: <input type="text" name="ano"><br><hr><h4>Seção</h4>
Título: <input type="text" name="tit_secao"><br>
Abreviação: <input type="text" name="abrev"><br><hr><h4>Artigo</h4>
Título: <input type="text" name="tit_art"><br>
Resumo: <input type="text" name="resumo"><br>
Número de páginas: <input type="text" name="num_pag"><br>
Data de Publicação: <input type="text" name="data_pub"><br><hr><h4>Autor</h4>
Primeiro nome: <input type="text" name="first"><br>
Nome do meio: <input type="text" name="middle"><br>
Último nome: <input type="text" name="last"><br>
Email: <input type="text" name="email"><br>
<input type="hidden" name="edicao" value="HTML"><br>
Url do arquivo: <input type="text" name="filepath"><br><br>
<input type="submit" value="Gerar XML">
</p>

